.contact-details {
    text-align: center;
    margin-top: 20px;

    button {
        margin-top: 50px;

    }
    .next-btn {
        width: max-content;
    }
    img{
        height: 200px;
    }
}

.details {
    margin-top: 30px;
}

.details-btn {
    justify-content: center;
    gap: 150px;

    button {
        border-radius: 30px;
        padding: 5px;
        width: 64px;

        .icon {
            font-size: 20px;
        }
    }
}